.root {
  display: flex;
  align-items: center;
}

.label {
  padding-right: 10px;
  white-space: nowrap;
  margin-bottom: 0;
}

.root :global(.react-select__single-value) {
  color: inherit;
}

.root :global(.react-select__control) {
  background-color: transparent;
}

.root :global(.react-select__menu) {
  color: #000;
}

.root :global(.react-select__option--is-selected) {
  background-color: #375a7f;
}

.root :global(.form-control) {
  background: 0;
  padding: 0;
  height: auto;
  color: inherit;
  width: 100px;
}
