.chart {
  width: 100%;
  height: 350px;
  border: 1px solid #444;
}

.topBarWrapper {
  padding-top: 10px;
  padding-bottom: 10px;
}

.ordersBarWrapper {
  padding-top: 10px;
  padding-bottom: 10px;
}
