.chart {
  width: 100%;
  height: 350px;
  border: 2px solid #182e4b;
}

.toolTipLine {
  stroke-width: 2px;
  stroke: lightgreen;
  stroke-dasharray: 3px;
}

.bookAxis {
  stroke: #153b31;
}

.bookGrid line {
  stroke: #153b31;
}

.topBarWrapper {
  padding-top: 10px;
  padding-bottom: 10px;
}

.ordersBarWrapper {
  padding-top: 10px;
  padding-bottom: 10px;
}
