.toolTipLine {
  stroke-width: 2px;
  stroke: lightgreen;
  stroke-dasharray: 3px;
}

.bookAxis {
  stroke: #009670;
}

.bookAxis :global(.vx-line) {
  stroke: #444;
}

.bookGrid line {
  stroke: #424242;
}
