@import "bootstrap/dist/css/bootstrap.css";

@font-face {
    font-family: 'Open Sans Light';
    font-style: normal;
    font-weight: 200;
    src: local('Open Sans Light'), url(../vendor/OpenSans-Light.ttf) format('truetype');
}

body {
    background-color: #06030E;
    color: #6CCCC1;
    font-family: "Open Sans Light", sans-serif;
    margin: 10mm 10mm 10mm 10mm;
}


input, select {
    background-color: #06030E;
    color: #6CCCC1;
    border: 1px solid #6CCCC1;
}

select {
}

h1 {
    font-size: 17pt;
    font-weight: 200;
}

footer {
    margin-top: 1em;
    font-size: 10pt;
}
