@import "bootswatch/dist/darkly/bootstrap.min.css";

:global(.padding) {
  padding: 10px;
}

:global(.padding-x) {
  padding-left: 10px;
  padding-right: 10px;
}

:global(.padding-y) {
  padding-top: 10px;
  padding-bottom: 10px;
}

